name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.10.12]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install poetry
          make install

      - name: Run linter and pytest
        run: make check

      - name: Download Code Climate test-reporter
        run: |
          curl -L https://github.com/codeclimate/test-reporter/releases/latest/download/cc-test-reporter-linux-amd64 \
            -o ./cc-test-reporter
          chmod +x ./cc-test-reporter

      - name: Run coverage
        run: |
          ./cc-test-reporter before-build
          make test-coverage
          ./cc-test-reporter after-build --exit-code $?

        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        if: github.ref_name == 'main'
